
<div class="message">
  <div class="sub-message">
    <p>代表　TERUTO</p>
    <p>このサイトでは35歳以上、未経験の方の就職を応援させて頂きます。<br>
    現在社会の変遷はとても激しく、企業や産業の盛衰も激しくなっており、<br>
  人生で一つの職種やスキルだけでは生活し辛くなってきています。今こそ時代を見つめ、<br>
勇気を出して挑戦し、可能性を掴み取る時です。</p>
<p> 企業の方々におかれましては、日本の少子化や高齢化を考慮し、<br>
  どうか寛容な御心で求人募集をしていただけるようお願い申し上げます</p>
  </div>
</div>
